/* NAVIGATION BAR*/
.navbar{
	margin-bottom: 0px;
	border-radius: 0;
}
.navbar-brand{		
	font-family: 'Quattrocento Sans', helvetica, sans-serif !important;
	color: rgb(100, 100, 100) !important;
	transition: .5s ease !important;
}
.navbar-brand:hover{
	color: #bbbbbb !important;
	text-shadow: 0 0 7px #777777 !important;	
}
.title{	
	float: left;	
	margin: auto 5px auto 5px; 
			
}
.logo{
	font-size: 1.2em;
	font-family: helvetica, arial;	
}
.name{
	font-size: 1.2em;
	font-family: "Oleo Script", cursiva, gothic, serif;
}
.verticalBar{
	position: static;
	width: 1px;
	height: 70%;
	margin: 2px 5px auto 5px; 
	background-color: rgb(100, 100, 100);
	transition: .4s ease;
	
}
.navbar-brand:hover .verticalBar{		
	background-color: #bbbbbb;
	box-shadow: 0px 0px 7px 1px #777777;	
}